html {
  box-sizing: border-box;
  font-family: 'PT Serif',serif;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

h1 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

main h2 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

aside h2 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

header nav ol {
  list-style-type: none;
  font-family: 'PT Sans', sans-serif;
}

nav a {
  color: #8f2440;
  text-decoration: none;
  font-size: 1.125rem;
}

figure {
  width: 100%;
}
figcaption {
  font-style: italic;
  text-align: center;
}

.germination {
  font-size: 1.5rem;
}

.BEETS {
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
}

.actor {
  font-size: 0.8rem;
  text-align: left;
}

main ol li {
  list-style-type: lower-greek;
}
.amount-of-beets {
  font-style: italic;
}

main dl dt {
  color: #222;
  font-weight: bold;
}

footer a{
  color: #8f2440;
  text-decoration: none;
}
